extends ../shared/template
block content

  .row
    h2 #{user.email}'s Messages
    table.table
      thead
        tr
          th From
          th Date
          th Message
        each message in messages
          tr
            td: a(href=fromUser.email, target='/users/#{fromUser.email}')= fromUser.email
            td=
